# Files and directories created by pub.
dart/telegram_client/.dart_tool/
dart/telegram_client/.packages

# Conventional directory for build output.
dart/telegram_client/build/

node-js/telegram-client/node_modules/

node-js/telegram-client/node_modules/*
 
tg/
.dart_tool
*.binlog
template/

test/
generate_script_templates

*.binlog
*.sqlite
*.sqlite-*
*.exe
*.deb
docs/canvaskit
*/canvaskit
.dart_tool/
/build/
generate_glx_*
node_modules/
build/
ephemeral/
flutter/ephemeral
android/.gradle
android/flutter/ephemeral
linux/flutter/ephemeral
macos/Flutter/ephemeral
windows/ephemeral
tmp/
temp/

wasm/


dev/

tg_db/
tg_file/
*.binlog
generate_general_private_tools_*
packagex-build-debug
packagex-compile-debug