# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.idea
*.exe
*.deb
*.sqlite-*
*.sqlite
docs/canvaskit
*/canvaskit
build/
fork/
ephemeral/
/build/
generate_general_private_tools_*
node_modules/
flutter/ephemeral
android/.gradle
android/flutter/ephemeral
linux/flutter/ephemeral
macos/Flutter/ephemeral
windows/ephemeral
tmp/
temp/
packagex-build-debug
packagex-compile-debug
dlotk3ti4kyik2o3tksjinfs